div{
    display:block;
}
.c,.b,.s{
    width :33.33%;
    float : left;
}
section{
    margin:10px;
    border:1px solid black;
    background: burlywood;
}
.chicken{
    background: #da4167;
    color:blanchedalmond;
}
h2{
    text-align: center;
    float: right;
    width:30%;
    margin:0px;
    border:1px solid black;
}
.beef{
    background: darkgray;
    color: blue;
}
.sushi{
    background: gold;
    color: violet;
}
.col-md-4{
    width: 33.33%;
}
.col-sm-6{
    width:50%;
}
.col-sm-12{
    width:100%;
}
.col-xs-12{
    width:100%;
}
p{
    margin:10px;
    clear: right;
    padding: 10px 5px 5px 5px;
}